[Desktop Entry]
Version=1.0
Type=Application
Exec=gksu thunar
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/file;x-scheme-handler/trash;
Name=Root Thunar
Comment=Thunar with root permission
X-XFCE-Source=file:///usr/share/applications/exo-file-manager.desktop
Path=
