[root]
row=7
col=0

[13 GB Volume]
row=4
col=0

[BIOS.UPDATE]
row=6
col=0

[home]
row=8
col=0

[Floppy Disk]
row=3
col=0

[133 GB Volume]
row=5
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

